[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pytest = "*"
black = "*"
mypy = "*"
pylint = "*"
isort = "*"
appstudio-tools = {file = ".", editable = true}
pylint-pytest = "*"
pytest-cov = "*"
tenacity = "*"

[dev-packages]
pytest = "*"

[requires]
# Keep in sync with .python-version
python_version = "3.12"
